a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.button, .offer_section .input, body {
    font-family: Akrobat, sans-serif
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a, button, input {
    outline: 0
}

a {
    background-color: transparent;
    text-decoration: underline;
    -webkit-text-decoration-skip: objects
}

button, input {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-Regular.bin) format('woff2'), url(../fonts/Akrobat-Regular.woff) format('woff'), url(../fonts/Akrobat-Regular-1.bin) format('opentype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-SemiBold.bin) format('woff2'), url(../fonts/Akrobat-SemiBold.woff) format('woff'), url(../fonts/Akrobat-SemiBold-1.bin) format('opentype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-Bold.bin) format('woff2'), url(../fonts/Akrobat-Bold.woff) format('woff'), url(../fonts/Akrobat-Bold-1.bin) format('opentype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-ExtraBold.bin) format('woff2'), url(../fonts/Akrobat-ExtraBold.woff) format('woff'), url(../fonts/Akrobat-ExtraBold-1.bin) format('opentype');
    font-weight: 800;
    font-style: normal
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    min-width: 480px;
    background: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #222;
    cursor: default
}

.main_wrapper {
    margin: 0 auto;
    width: 480px
}

.clearfix:after {
    content: "";
    display: block;
    clear: both
}

img {
    max-width: 100%;
    height: auto
}

b {
    font-weight: 700
}

.button {
    display: block;
    margin: 0 auto;
    padding: 0 0 4px;
    width: 440px;
    height: 80px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #e22335;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .2)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%);
    -webkit-box-shadow: 0 6px 0 #a21724;
    -moz-box-shadow: 0 6px 0 #a21724;
    box-shadow: 0 6px 0 #a21724;
    font-weight: 800;
    font-size: 30px;
    line-height: 76px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer
}

h2 {
    padding: 13px 10px 17px;
    background: #2f003c;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-align: justify;
    text-align-last: center
}

.owl-next, .owl-prev {
    width: 54px;
    height: 54px;
    background-color: #2f003c;
    background-image: url(../img/slider__arrows.png);
    background-repeat: no-repeat;
    position: absolute
}

.owl-prev {
    background-position: left center;
    left: 0
}

.owl-next {
    background-position: right center;
    right: 0
}

.offer_section .title_block {
    padding: 10px 0 16px 33px;
    background-image: url(../img/bg_18.jpeg);
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    position: relative
}

.offer_section .title_block:before {
    display: block;
    content: '';
    width: 5px;
    height: 60px;
    background: #fff;
    position: absolute;
    top: 21px;
    left: 20px
}

.offer_section .title_block .main_title {
    font-weight: 800;
    font-size: 43px;
    line-height: 48px
}

.offer_section .title_block p {
    font-size: 19px;
    line-height: 22px
}

.offer_section .info {
    padding: 240px 0 80px;
    background: url(../img/offer_bg.jpeg) center top no-repeat #2f003c;
    position: relative
}

.offer_section .discount {
    padding: 10px 0;
    width: 125px;
    -webkit-border-radius: 0 0 0 30px;
    -moz-border-radius: 0 0 0 30px;
    border-radius: 0 0 0 30px;
    background: #e43546;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0
}

.offer_section .discount span {
    font-weight: 700;
    font-size: 48px
}

.offer_section .description {
    margin: 0 0 30px;
    padding: 0 20px 0 240px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

.offer_section .price_block {
    padding: 15px 20px;
    background: url(../img/offer__price_arrow.png) center no-repeat #ff00c0;
}

.offer_section .price_block .price_item {
    float: left;
    width: 50%;
    color: #fff;
    text-align: center
}

.offer_section .price_block .text {
    margin: 0 0 5px;
    font-weight: 700
}

.offer_section .price_block .value {
    font-size: 38px;
    line-height: 38px
}

.offer_section .price_block .price_item.old .value {
    text-decoration: line-through
}

.offer_section .price_block .price_item.new .value {
    font-weight: 800;
    color: #fff600
}

.offer_section ul {
    margin: 30px 0;
    padding: 1px 20px;
    font-size:19px;
    padding-top: 7px;
}

.offer_section ul li {
    margin: 0 0 10px;
    padding: 0 0 0 34px;
    background: url(../img/offer__tick_icon.png) left 1px no-repeat;
    font-weight: 600;
    color: #fff
}

.offer_section .timer_block {
    margin: 24px auto;
    width: 440px;
    font-weight: 700;
    color: #fff;
    text-align: center
}

.offer_section .timer_block p {
    margin: 0 0 15px;
    font-size: 24px;
    text-transform: uppercase
}

.offer_section .timer .timer_item {
    float: left;
    width: 118px
}

.offer_section .timer .timer_item:nth-child(2) {
    margin: 0 43px;
    position: relative
}

.offer_section .timer .timer_item:nth-child(2):after, .offer_section .timer .timer_item:nth-child(2):before {
    display: block;
    content: ':';
    width: 43px;
    font-size: 30px;
    line-height: 54px;
    position: absolute;
    top: 0
}

.offer_section .timer .timer_item:nth-child(2):before {
    left: -43px
}

.offer_section .timer .timer_item:nth-child(2):after {
    right: -43px
}

.offer_section .timer .count {
    margin: 0 0 5px;
    height: 60px
}

.offer_section .timer .count span {
    display: block;
    float: left;
    width: 54px;
    height: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #2f003c;
    font-size: 36px;
    line-height: 60px
}

.offer_section .timer .count span:first-child {
    margin: 0 10px 0 0
}

.offer_section .timer .text {
    font-size: 24px
}

.offer_section .input {
    display: block;
    margin: 0 auto 20px;
    padding: 0 20px;
    width: 440px;
    height: 76px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    font-weight: 500;
    font-size: 24px;
    color: #222;
    text-align: center
}

.offer_section .input::-webkit-input-placeholder {
    opacity: 1;
    color: #222
}

.offer_section .input:-moz-placeholder {
    opacity: 1;
    color: #222
}

.offer_section .input::-moz-placeholder {
    opacity: 1;
    color: #222
}

.offer_section .input:-ms-input-placeholder {
    opacity: 1;
    color: #222
}

.offer_section .input:focus::-webkit-input-placeholder {
    opacity: 0
}

.offer_section .input:focus:-moz-placeholder {
    opacity: 0
}

.offer_section .input:focus::-moz-placeholder {
    opacity: 0
}

.offer_section .input:focus:-ms-input-placeholder {
    opacity: 0
}

.about_section .info {
    padding: 30px 5px 0
}

.about_section .info p {
    margin-top: -55px;
    padding: 0 0 0 279px;
    font-weight: 600;
    text-align: right
}

.about_section .info h3 {
    margin: 20px 0 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center
}

.characteristics_section .owl-next, .characteristics_section .owl-prev {
    top: 50%;
    margin-top: -27px
}

.characteristics_section ul li {
    padding: 10px 20px 15px
}

.characteristics_section ul li:nth-child(odd) {
    background: #f1f1f1
}

.components_section {
    padding: 0 0 36px;
    background: url(../img/components_bg.jpeg) center top no-repeat #1d3b66;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.components_section h2 {
    margin: 0 0 30px
}

.components_section .components_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center
}

.components_section .component_item {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    margin: 0 20px 30px 0
}

.components_section .component_item:nth-child(even) {
    margin: 0 0 30px
}

.components_section .component_item img {
    display: block;
    margin: 0 auto 10px;
    border: 1px solid #163d1a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.components_section .component_item p {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: normal;
    color: #fff
}

.components_section .gift-text p {
    color: #fff600
}

.components_section .component_item .gift-pic {
    border: 0;
    box-shadow: 0 0 15px 1px rgba(255, 246, 0, .8)
}

.benefits_list .benefit_item:first-child {
    padding: 0 0 0 213px;
    min-height: 251px;
    background: url(../img/benefits__benefit1_image.jpeg) left top no-repeat
}

.benefits_list .benefit_item:nth-child(2) {
    margin: -21px 0 -25px;
    padding: 0 140px 0 0;
    min-height: 262px;
    background: url(../img/benefits__benefit2_image.jpeg) right top no-repeat
}

.benefits_list .benefit_item:nth-child(2) p {
    padding: 0 60px 0 0
}

.benefits_list .benefit_item:last-child {
    padding: 0 0 25px 188px;
    background: url(../img/benefits__benefit3_image.jpeg) left top no-repeat
}

.benefits_list .benefit_item h3 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #e22335;
    text-transform: uppercase
}

.benefits_list .benefit_item p {
    font-weight: 600
}

.reviews_section {
    padding: 0 0 30px;
    background: #f1f1f1
}

.reviews_section h2 {
    margin: 0 0 30px
}

.reviews_section .review_item {
    padding: 0 20px;
    text-align: center
}

.reviews_section .review_item img.reww {
    margin: 0 auto;
    width: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.reviews_section .review_item .author_info {
    margin: 15px 0;
    padding: 0 0 20px;
    background: url(../img/reviews__stars.png) center bottom no-repeat;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px
}

.reviews_section .owl-next, .reviews_section .owl-prev {
    top: 63px
}

.order_steps_section h2 {
    margin: 0 0 30px
}

.order_steps_section .steps_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center
}

.order_steps_section .step_item {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    margin: 0 20px 30px 0;
    letter-spacing: normal;
    position: relative
}

.order_steps_section .step_item:nth-child(even) {
    margin: 0 0 30px
}

.order_steps_section .step_item .number {
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #e22335;
    position: absolute;
    top: -5px;
    left: 20px
}

.order_steps_section .step_item .icon {
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #e22335;
    background-position: center;
    background-repeat: no-repeat
}

.order_steps_section .step_item:first-child .icon {
    background-image: url(../img/order_steps__step1_icon.png)
}

.order_steps_section .step_item:nth-child(2) .icon {
    background-image: url(../img/order_steps__step2_icon.png)
}

.order_steps_section .step_item:nth-child(3) .icon {
    background-image: url(../img/order_steps__step3_icon.png)
}

.order_steps_section .step_item:last-child .icon {
    background-image: url(../img/order_steps__step4_icon.png)
}

.order_steps_section .step_item p {
    font-size: 20px;
    line-height: 26px
}

.footer_section {
    padding: 25px 0 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center
}

.footer_section img {
    display: block;
    margin: 0 auto 10px
}

.footer_section a {
    color: #222
}

.warning_section {
    text-align: center;

    margin: 5px 0px 0px;
    border: 3px solid #e22335;
    padding: 15px 17px;

}

.warning_section h2 {
    background: #fff;
    padding: 0px 10px 0px;
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
    text-align-last: center;
    margin: 0 0 15px;
    font-weight: 700;
    color: #e22335;
    text-transform: uppercase;
}

.warning_section p {
    font-weight: 600;
    font-size: 21px;
}